.container {display: grid; grid-template-rows: 100px 1fr 100px; min-height: 100vh;}
.footer { background-color: black; color: white; text-align: center;}
.header { background-color: black; color: white; }
.loginContainer { display: flex; justify-content: center; width: 100%; height: 100%; align-items: center; }
.login { display: flex; background-color: gray; padding: 5px 5px; text-align: center; height: 250px; align-items: center; }
input[type='text'] { box-sizing: border-box; width: 250px;}
input[type='password'] { box-sizing: border-box; width: 250px;}
.header a { color: white; text-decoration: none; }
.header a:hover { color: antiquewhite; }
.err { color: red; }